<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="delete-person-container">
        <form class="form-inline my-2 my-lg-0" (submit)="getPersonsByCpf()">
          <input class="form-control mr-sm-2" type="number" placeholder="Digite o CPF da pessoa que deseja deletar" aria-label="Buscar Pessoa" max="11" [(ngModel)]="cpf" name="cpf" required>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Deletar</button>
        </form>

        <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="showOrHideModal(false, 'deleteConfirmationModal')" aria-label="Close" >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Tem certeza que deseja excluir esta pessoa?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="showOrHideModal(false, 'deleteConfirmationModal')">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="deletePerson()">Excluir</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Exclusão Confirmada</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="showOrHideModal(false, 'confirmationModal')" aria-label="Close" >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Pessoa Excluida com sucesso!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>